.serv-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 0;
    margin: 0;
}

.serv-container {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border-radius: 15px;
    padding: 60px;
    background-color: rgb(164, 215, 238);
}

.serv-cardarea {
    display: flex;
    justify-content: center;
}


.serv-card {
    height: 200px;
    background-color: white;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 12px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    /* font-family: 'Poppins', sans-serif; */
}

.serv-icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
}


.serv-card .serv-title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: #292929;
    font-weight: 500;
    text-transform: uppercase;
}

.serv-card .serv-text {
    width: 80%;
    margin: 0;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    color: #292929;
    font-weight: 200;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}

.serv-card:hover {
    height: 230px;
}

.serv-card:hover .serv-text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}

.serv-card:hover .serv-icon {
    background-position: -120px;
    transition: all 0.3s ease;
}

.serv-card:hover .serv-icon img {
    transition: all 0.3s ease;
}

.serv-head-area {
    text-align: center;
    
}

.serv-main-head {
    font-size: 30px;
    color: #3390E0;
    margin: 0;
    padding: 0;
}
.serv-mainfo-head {
    font-size: 30px;
    font-weight: 700;
    color: #065193;
    margin: 0;
    padding: 0;
}



