.ins-items {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.ins-items:hover {
    transform: translateY(-5px);
}


.pay-head {
    font-weight: 700;
}

.pay-img {
    border-radius: 5px;
    height: 40px;
    transition: transform 0.2s ease-in-out;
}
.pay-img:hover {
    transform: translateY(-5px);
}


.ft-desc {
    width: 100%;
    height: auto;
}

.ft-desc p {
    margin: 0;
    padding: 0;
    width: 100%;
    word-break: break-all;
}


